.gridx {
    height: 95%;
    width: 100%;
}

.dojoxGridHeader {
text-align: center !important;
}

.factura-grid{
	height: 320px;
    width: 100%;
}

.egreso-grid{
	height: 230px;
    width: 100%;
}

.struct-grid{
	height: 150px;
    width: 100%;
}
