.gridx {
    height: 95%;
    width: 100%;
}

.gridxGroupHeader, .gridxHeaderRow .gridxCell {
	text-align: center !important;
}
.pagos-factura-grid{
	height: 440px;
    width: 460px;
	
}
.factura-grid{
	height: 320px;
    width: 100%;
}

.egreso-grid{
	height: 230px;
    width: 100%;
}

.struct-grid{
	height: 150px;
    width: 100%;
}

.remision-grid{
	height: 80%;
    width: 100%;
}