<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="../static/css/home.css" media="screen">
		<link rel="stylesheet" href="../static/js/lib/dijit/themes/claro/claro.css" media="screen">
		<script src="../static/js/lib/dojo/dojo.js" data-dojo-config="async: true"></script>
		<script type="text/javascript" src="../static/js/my/addClient.js"></script>
		<script>
			require(["dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox"]);
		</script>
		<title>Salud-Able Foods</title>
	</head>	<body class="claro">
		<div data-dojo-type="dijit/form/Form" id="myForm" data-dojo-id="myForm" encType="multipart/form-data" action="" method="">
			<table style="border: 1px solid #9f9f9f;" cellspacing="10">
				<tr>
					<td><label for="name">Nombre:</label></td>
					<td>
					<input type="text" id="nombre" name="nombre" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
					</td>
				</tr>
				<tr>
					<td><label for="name">Ciudad:</label></td>
					<td>
					<input type="text" id="ciudad" name="ciudad" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
					</td>
				</tr>
				<tr>
					<td><label for="name">Direccion:</label></td>
					<td>
					<input type="text" id="direccion" name="direccion" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
					</td>
				</tr>
				<tr>
					<td><label for="dob">Telefono:</label></td>
					<td>
					<input type="text" id="telefono" name="telefono" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
					</td>
				</tr>
				<tr>
					<td><label for="name">NIT:</label></td>
					<td>
					<input type="text" id="nit" name="nit" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
					</td>
				</tr>
				<tr>
					<td><label for="name">Dias para pago:</label></td>
					<td>
					<input type="text" id="diasPago" name="diasPago" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
					</td>
				</tr>
			</table>
			<button data-dojo-type="dijit/form/Button" id="agregar_btn2" type="button">
				Agregar Cliente
			</button>
			<button id='reset' data-dojo-type="dijit/form/Button" type="reset">
				Borrar todo
			</button>
			<br/>
			<br/>
			<div id="server_response" style="color: red"></div>
		</div>
	</body>
</html>
