<html xmlns="http://www.w3.org/1999/xhtml">
{% autoescape false %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="../static/css/home.css" media="screen">
		<link rel="stylesheet" href="../static/js/lib/dijit/themes/claro/claro.css" media="screen">
		<script src="../static/js/lib/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
		<script>saludable.entity_class = '{{ entity_class }}';</script>
		<script type="text/javascript" src="../static/js/my/addEntity.js"></script>
		<script>
			require(["dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox"]);
		</script>
		<title>Salud-Able Foods</title>
	</head>	
	<body class="claro">
		<!-- <div class='entity_class' id='{{ entity_class }}'></div> -->
		<div data-dojo-type="dijit/form/Form" id="addEntityForm{{ entity_class }}" data-dojo-id="addEntityForm{{ entity_class }}" encType="multipart/form-data" action="" method="">
			<table style="border: 1px solid #9f9f9f;" cellspacing="10">
				{% for field in fields %}
				<tr>
					<td><label for="name">{{ field.ui }}:</label></td>
					<td>
						{{ tagForField(entity_class, field)}}						
					</td>
				</tr>
				{% endfor %}
			</table>
			<button data-dojo-type="dijit/form/Button" id="agregar_btn{{ entity_class }}" type="button">
				Agregar {{ entity_class }}
			</button>
			<button id='reset{{ entity_class }}' data-dojo-type="dijit/form/Button" type="reset">
				Borrar todo
			</button>
			<br/>
			<br/>
			<div id="server_response{{ entity_class }}" style="color: red"></div>
		</div>
	</body>
</html>
{% endautoescape %}