<html xmlns="http://www.w3.org/1999/xhtml">
{% autoescape false %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script>saludable.entity_class = '{{ entity_class }}';</script>
		<script type="text/javascript" src="../static/js/my/addEntity.js"></script>
		<script>
			require(["dojo/parser","dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox",'dijit/form/SimpleTextarea','dijit/form/NumberTextBox','dijit/form/Select']);
		</script>
		<title>Salud-Able Foods</title>
	</head>	
	<body class="claro">
		<center>
		<div class = "addEntityForm" data-dojo-type="dijit/form/Form" id="addEntityForm{{ entity_class }}" data-dojo-id="addEntityForm{{ entity_class }}" encType="multipart/form-data" action="" method="" style="margin: 0 auto;">
			<table style="border: 1px solid #9f9f9f;" cellspacing="10">
				{% for field in fields %}
				<tr>
					<td><label for="name">{{ field.ui }}:</label></td>
					<td>
						{{ tagForField(entity_class, field)}}						
					</td>
				</tr>
				{% endfor %}
			</table>
			<button data-dojo-type="dijit/form/Button" id="agregar_btn{{ entity_class }}" type="button">
				Agregar {{ entity_class }}
			</button>
			<button id='reset{{ entity_class }}' data-dojo-type="dijit/form/Button" type="reset">
				Borrar todo
			</button>
			<br/>
			<br/>
			<div id="server_response{{ entity_class }}" style="color: red"></div>
		</div>			
		</center>
	</body>
</html>
{% endautoescape %}