<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../static/js/lib/gridx/resources/claro/Gridx.css" />
<link rel="stylesheet" href="../static/css/grid.css" />
<script type="text/javascript" src="../static/js/my/consolidarFactura.js"></script>
<script>saludable.entityClass = 'Remision';</script>
<table>
	<tr>
		<td><label>Cliente: </label></td>
		<td>
			<div style="width:300px">
				{{ pythonFunction('getClientesConRemision',{'tagId':'cliente_consolidarFactura'})}}
			</div>
		</td>
	</tr>
</table>

<div id="grid_consolidarFactura"></div>
<div id='consolidarFactura_Btn'>