<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.2/dijit/themes/claro/claro.css">
		<link rel="stylesheet" href="../static/js/lib/gridx/resources/claro/Gridx.css" />
		<link rel="stylesheet" href="../static/css/grid.css" />
		<script>
			dojoConfig = {
			async: 1,
			parseOnLoad:1,
			dojoBlankHtmlUrl: '/blank.html',
			packages: [
			{name: 'gridx', location: location.pathname.replace(/\/[^/]+$/, '') + '/static/js/lib/gridx'}
			]};
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.2/dojo/dojo.js"></script>
		<script type="text/javascript" src="../static/js/my/crearFactura.js"></script>
		<script>
			require(["dojo/parser", "dijit/layout/ContentPane", "dojox/layout/ContentPane", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/DateTextBox"]);
		</script>
		<title>Salud-Able Foods</title>
	</head>
	<body class="claro">
		<div id='homeTabContainer' class="centerPanel" data-dojo-type="dijit/layout/ContentPane">
			<div data-dojo-type="dijit/form/Form" id="ventaForm" data-dojo-id="venta_form" encType="multipart/form-data">
				<table>
					<tr>
						<td><label>{{ props['Cliente'].ui }}:</label></td>
						<td> {{tagForField('crearFactura',props['Cliente'])}} </td>
						<td><label>Fecha</label></td>
						<td><input type="text" name="fechacrearFactura" id="fechacrearFactura" value="2014-10-29" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" /></td>
					</tr>
				</table>
				<table>	
					<tr>
						<td><label>Producto: </label></td>
						<td>{{tagForField('crearFactura',props['Producto'])}}</td>
						<td><label>Porcion: </label></td>
						<td>{{tagForField('crearFactura',props['Porcion'])}}</td>
						<td><label>Cantidad: </label></td>
						<td>{{tagForField('crearFactura',props['Cantidad'])}}</td>
						<td><button id='agregarPedidoBtn' data-dojo-type="dijit/form/Button">Agregar al Pedido</button></td>
					</tr>
				</table>
			</div>
			<div id="gridFactura" style="width: 100%; height: 300px;"></div>
			<table>
				<tr>
					<td>
						<button id='guardarFacturaBtn' data-dojo-type="dijit/form/Button">Guardar Pedido</button></td>
					</td>
					<td><label>TOTAL: $ </label><label id="total">0</label></td>
					<td><div id='mensajecrearFactura' style="color: red"></div></td>
				</tr>
			</table>
		</div>
	</body>
</html>
{% endautoescape %}