<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="../static/js/lib/gridx/resources/claro/Gridx.css" />
		<link rel="stylesheet" href="../static/css/grid.css" />
		<script>saludable.entity_class = 'Egreso';</script>
		<script>dojoConfig = {async: 1,parseOnLoad:1,dojoBlankHtmlUrl: '/blank.html',packages: [{name: 'gridx', location: location.pathname.replace(/\/[^/]+$/, '') + '/static/js/lib/gridx'}]};</script>
		<script type="text/javascript" src="../static/js/my/crearEgreso.js"></script>
		<script>
			require(["dojo/parser", "dijit/layout/ContentPane", "dojox/layout/ContentPane", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/DateTextBox"]);
		</script>
		<title>Egreso</title>
	</head>
	<body class="claro">
		<div data-dojo-type="dijit/form/Form" id="addEntityFormEgreso" data-dojo-id="addEntityFormEgreso" encType="multipart/form-data">
			<table style="table-layout: fixed;"> 
				<tr>
					<td><label for='empleadoEgreso'>Empleado:</label></td>
					<td><div style="margin:10px">
							{{tagForField('Egreso',props['empleado'])}}
						</div>
					</td>
					<td><label for='fechaEgreso'>Fecha: </label></td>
					<td><input type="text" name="fechacEgreso" id="fechaEgreso" value="now" 
							data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" 
							required="true" style="width:100px"/>
					</td>
					<td><label for='sucursalEgreso'>Sucursal: </label></td>
					<td><div style="margin:10px">
						{{tagForField('Egreso',props['sucursal'])}}
						</div>
					</td>
					<td><label for='numeroEgreso'>No. Egreso: </label> </td>
					<td><div id='numeroEgreso'></div></td>
					<td><button id='nuevoEgresoBtn' data-dojo-type="dijit/form/Button">Nuevo Egreso</button></td>
				</tr>					
				<tr>
					<td><label for='tipoEgreso'>Tipo: </label></td>
					<td><div>
							{{tagForField('Egreso',props['tipo'])}}
						</div>
					</td>
					<td><label for='proveedorEgreso'>Proveedor: </label></td>
					<td><div>
							{{tagForField('Egreso',props['proveedor'])}}
						</div>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
					</td>
				</tr>
				<tr>
					<td><label for="bienoservicioEgreso">Bienes o Servcios: </label></td>
					<td><div>
						{{tagForField('Egreso',props['bienoservicio'])}}
					</div></td>
					<td><label for="bienoservicioEgreso">Detalle: </label></td>
					<td>
						{{tagForField('Egreso',props['detalle'])}}
					</td>
				</tr>
				<tr>
					<td><label for='cantidadEgreso'>Cantidad:</label></td>
					<td>{{tagForField('Egreso',props['cantidad'])}}</td>
					<td><label for='cantidadEgreso'>Precio Unitario:</label></td>
					<td>{{tagForField('Egreso',props['precio'])}}</td>
					<td></td>
					<td></td>
					<td><button id='agregarCompraBtn' data-dojo-type="dijit/form/Button">Agregar Compra</button></td>
				</tr>
			</table>
			<div id="gridEgreso"></div>
			<br/>
			<label for="comentarioEgreso">Comentario: </label>
			{{tagForField('Egreso',props['comentario'])}}
		</div>
		<table>
			<tr>
				<td>
					<button id='guardarEgresoBtn' data-dojo-type="dijit/form/Button">Guardar Egreso</button></td>
				</td>
				<td><label>TOTAL: $ </label><label id="total">0</label></td>
			</tr>
			<tr><td><div id='mensajeEgreso' style="color: red"></div></td></tr>
		</table>
	</body>
</html>
{% endautoescape %}