<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="../static/js/lib/gridx/resources/claro/Gridx.css" />
		<link rel="stylesheet" href="../static/css/grid.css" />
		<script>saludable.entity_class = 'Egreso';</script>
		<script>dojoConfig = {async: 1,parseOnLoad:1,dojoBlankHtmlUrl: '/blank.html',packages: [{name: 'gridx', location: location.pathname.replace(/\/[^/]+$/, '') + '/static/js/lib/gridx'}]};</script>
		<script type="text/javascript" src="../static/js/my/crearEgreso.js"></script>
		<script>
			require(["dojo/parser", "dijit/layout/ContentPane", "dojox/layout/ContentPane", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/DateTextBox"]);
		</script>
		<title>Egreso</title>
	</head>
	<body class="claro">
		<div data-dojo-type="dijit/form/Form" id="addEntityFormEgreso" data-dojo-id="addEntityFormEgreso" encType="multipart/form-data">
			<table style="table-layout: fixed;"> 
				<tr>
					<td><label for='empleadoFactura'>Empleado :</label></td>
					<td><div style="width:300px">
							{{tagForField('Factura',props['Empleado'])}}
						</div>
					</td>
					<td><label for='fechaFactura'>Fecha: </label></td>
					<td><input type="text" name="fechacFactura" id="fechaFactura" value="now" 
							data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" 
							required="true" style="width:100px;font-size:70%" />
					</td>
					<td><label for='numeroEgreso'>No. Egreso: </label> </td>
					<td><div id='numeroEgreso'></div></td>
				</tr>					
				<tr>
					<td><label for='tipoEgreso'>Tipo: </label></td>
					<td><div style="width:300px">
							{{tagForField('Egreso',props['tipo'])}}
						</div>
					</td>
					<td><label for='proveedorEgreso'>Proveedor: </label></td>
					<td><div style="width:300px">
							{{tagForField('Egreso',props['proveedor'])}}
						</div>
					</td>
					<td><label for='porcionEgreso'>Porcion: </label></td>
					<td><div id='porcionEgreso'></div></td>
					<td></td>
					<td>
						<input type="text" name="anuladaEgreso" data-dojo-type="dijit/form/TextBox"
    					data-dojo-props="readOnly:true" id="anuladaEgreso" style="width:100px;border:none"/>
					</td>
				</tr>
				<tr>
					<td><label for="insumoEgreso">Bienes o Servcios: </label></td>
					<td><div id='insumoEgreso'></div></td>
					<td><label for='cantidadEgreso'>Cantidad:</label></td>
					<td>{{tagForField('Egreso',props['Cantidad'])}}</td>
					<td><button id='agregarCompraBtn' data-dojo-type="dijit/form/Button">Agregar</button></td>
					<td><button id='nuevaEgresoBtn' data-dojo-type="dijit/form/Button">Nuevo Egreso</button></td>
					<td></td>
					<td><button id='anularEgresoBtn' data-dojo-type="dijit/form/Button">Anular Egreso</button></td>
				</tr>
			</table>
			<div id="gridEgreso"></div>	
		</div>
		<table>
			<tr>
				<td>
					<button id='guardarEgresoBtn' data-dojo-type="dijit/form/Button">Guardar Egreso</button></td>
				</td>
				<td><label>TOTAL: $ </label><label id="total">0</label></td>
				<td><div id='mensajeFactura' style="color: red"></div></td>
			</tr>
		</table>
	</body>
</html>
{% endautoescape %}