<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="../static/js/lib/gridx/resources/claro/Gridx.css" />
		<link rel="stylesheet" href="../static/css/grid.css" />
		<script>saludable.entity_class = 'Factura';</script>
		<script>dojoConfig = {async: 1,parseOnLoad:1,dojoBlankHtmlUrl: '/blank.html',packages: [{name: 'gridx', location: location.pathname.replace(/\/[^/]+$/, '') + '/static/js/lib/gridx'}]};</script>
		<script type="text/javascript" src="../static/js/my/crearFactura.js"></script>
		<script>
			require(["dojo/parser", "dijit/layout/ContentPane", "dojox/layout/ContentPane", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/DateTextBox"]);
		</script>
		<title>Salud-Able Foods</title>
	</head>
	<body class="claro">
		<div data-dojo-type="dijit/form/Form" id="addEntityFormFactura" data-dojo-id="addEntityFormFactura" encType="multipart/form-data">
			<table>
				<tr>
					<td><label>{{ props['Empleado'].ui }}:</label></td>
					<td> {{tagForField('Factura',props['Empleado'])}} </td>
				</tr>					<tr>
					<td><label>{{ props['Cliente'].ui }}:</label></td>
					<td> {{tagForField('Factura',props['Cliente'])}} </td>
					<td><label>Fecha</label></td>
					<td><input type="text" name="fechacFactura" id="fechaFactura" value="2014-10-29" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" /></td>
				</tr>
			</table>
			<table>	
				<tr>
					<td><label>Producto: </label></td>
					<td>{{tagForField('Factura',props['Producto'])}}</td>
					<td><label>Porcion: </label></td>
					<td>{{tagForField('Factura',props['Porcion'])}}</td>
					<td><label>Cantidad: </label></td>
					<td>{{tagForField('Factura',props['Cantidad'])}}</td>
					<td><button id='agregarPedidoBtn' data-dojo-type="dijit/form/Button">Agregar al Pedido</button></td>
				</tr>
			</table>
			<div id="gridFactura" style="width: 100%; height: 300px;"></div>	
		</div>
		<table>
			<tr>
				<td>
					<button id='guardarFacturaBtn' data-dojo-type="dijit/form/Button">Guardar Pedido</button></td>
				</td>
				<td><label>TOTAL: $ </label><label id="total">0</label></td>
				<td><div id='mensajeFactura' style="color: red"></div></td>
			</tr>
		</table>
	</body>
</html>
{% endautoescape %}