<div id='egresosTabContainer' class="centerPanel" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region:'leading', doLayout:'false', tabPosition: 'bottom'">
	<div id='addEgresosTabContainer' title="AGREGAR DATOS" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:'false', tabPosition: 'top'">
		<div id='addEgresosTabContainer' title="EGRESOS" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:'false', tabPosition: 'top'">
			<div data-dojo-type="dojox/layout/ContentPane" id='Proveedor_add' title="AGREGAR PROVEEDOR" data-dojo-props="href: '/addEntity?entityClass=Proveedor', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Insumo_add' title="AGREGAR INSUMO" data-dojo-props="href: '/addEntity?entityClass=Insumo', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='PorcionInsumo_add' title="AGREGAR PORCION-INSUMO" data-dojo-props="href: '/addEntity?entityClass=PorcionInsumo', executeScripts: true"></div>
		</div>
	</div>
	<div id='showEgresosTabContainer' title="MOSTRAR DATOS EXISTENTES" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:'false', tabPosition: 'top'">
		<div id='showEgresosTabContainer' title="EGRESOS" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:'false', tabPosition: 'bottom'">
			<div data-dojo-type="dojox/layout/ContentPane" id='Proveedor_show' title="PROVEEDORES" data-dojo-props="href: '/showEntities?entityClass=Proveedor', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Insumo_show' title="INSUMOS" data-dojo-props="href: '/showEntities?entityClass=Insumo', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='PorcionInsumo_show' title="PORCIONES-INSUMOS" data-dojo-props="href: '/showEntities?entityClass=PorcionInsumo', executeScripts: true"></div>
		</div>
	</div>
