<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="../static/css/home.css" media="screen">
		<link rel="stylesheet" href="../static/js/lib/dijit/themes/claro/claro.css" media="screen">
		<script src="../static/js/lib/dojo/dojo.js" data-dojo-config="async: true,parseOnLoad : true" ></script>
		<script>
			saludable = {
				'entity_class' : '{{ entity_class }}'
			};
		</script>
		<script src="../static/js/my/home.js" ></script>
		<script>
			require(["dojo/parser", "dijit/layout/BorderContainer", "dijit/layout/TabContainer", "dijit/layout/ContentPane", "dojox/layout/ContentPane", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox"]);
		</script>
		<title>Salud-Able Foods</title>
	</head>
	<body class="claro">
		<div id="appLayout" class="demoLayout" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline'">
			<div id='homeTabContainer' class="centerPanel" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region: 'center', tabPosition: 'bottom'">
				<div data-dojo-type="dojox/layout/ContentPane" id='Client_show' title="CLIENTES" data-dojo-props="href: '/showEntities?entityClass=Client', executeScripts: true"></div>
				<div data-dojo-type="dojox/layout/ContentPane" id='Fruta_show' title="PULPAS" data-dojo-props="href: '/showEntities?entityClass=Fruta', executeScripts: true"></div>
				<div data-dojo-type="dojox/layout/ContentPane" id='Porcion_show' title="PORCIONES" data-dojo-props="href: '/showEntities?entityClass=Porcion', executeScripts: true"></div>
				<div data-dojo-type="dojox/layout/ContentPane" id='Precio_show' title="PRECIOS" data-dojo-props="href: '/showEntities?entityClass=Precio', executeScripts: true"></div>
				<div data-dojo-type="dojox/layout/ContentPane" id='Client_add' title="AGREGAR CLIENTES" data-dojo-props="href: '/addEntity?entityClass=Client', executeScripts: true"></div>
				<div data-dojo-type="dojox/layout/ContentPane" id='Fruta_add' title="AGREGAR PULPAS" data-dojo-props="href: '/addEntity?entityClass=Fruta', executeScripts: true"></div>
				<div data-dojo-type="dojox/layout/ContentPane" id='Porcion_add' title="AGREGAR PORCIONES" data-dojo-props="href: '/addEntity?entityClass=Porcion', executeScripts: true"></div>
				<div data-dojo-type="dojox/layout/ContentPane" id='Precio_add' title="AGREGAR PRECIOS" data-dojo-props="href: '/addEntity?entityClass=Precio', executeScripts: true"></div>
			</div>
			<div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
				Header content (top)
			</div>
			<div id="leftCol" class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'left', splitter: true">
				Sidebar content (left)
			</div>
		</div>
	</body>
</html>
{% endautoescape %}