<link rel="stylesheet" href="../static/js/lib/gridx/resources/claro/Gridx.css" />
<link rel="stylesheet" href="../static/css/grid.css" />
<script type="text/javascript" src="../static/js/my/InformeDePagos.js"></script>
<table>
	<tr>
		<td>
			<label>Cliente:</label>
			<td><div>
				{{selectForField('Cliente','nombre','pagos_cliente')}}
				</div>
			</td>
		</td>
		<td>
			<label for='fecha_pagos_1'>Desde: </label>
			<input type="text" name='fecha_pagos_1' id='fecha_pagos_1' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<label for='fecha_pagos_2'>Hasta: </label>
			<input type="text" name='fecha_pagos_2' id='fecha_pagos_2' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<button id='GenerarInformeBtn_{{entityClass}}' data-dojo-type="dijit/form/Button">Generar Informe</button>
		</td>
	</tr>
</table>
<div id='pagos_standby' style="width: 100%;height: 100%">
<table>
	<tr>
		<td style="text-align: center;">FACTURAS</td>
		<td>&nbsp;&nbsp;</td>
		<td style="text-align: center;">PAGOS</td>
	</tr>
	<tr>
		<td><div id='pagos_facturas'></div></td>
		<td>&nbsp;</td>
		<td><div id='pagos_pagos'></div></td>
	</tr>
</table>
