<head>
    <title>Tabla Dinamica</title>
    <script>saludable.entityClass = 'PyG';</script>
    <script type="text/javascript" src="../static/js/my/pYg.js"></script>
</head>
<style>
    .pivot {font-family: Verdana;}
</style>
<table>
	<tr>
		<td>
			<label for='fecha_pivot_1'>Desde: </label>
			<input type="text" name='fecha_pivot_1_{{ entityClass }}' id='fecha_pivot_1_{{ entityClass }}' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<label for='fecha_pivot_2'>Hasta: </label>
			<input type="text" name='fecha_pivot_2_{{ entityClass }}' id='fecha_pivot_2_{{ entityClass }}' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<button id='GenerarInformeBtn_{{entityClass}}' data-dojo-type="dijit/form/Button">Generar Informe</button>
		</td>
		<td>
			<button id='copiarTabla_{{entityClass}}' data-dojo-type="dijit/form/Button">Copiar al Portapapeles</button>
		</td>
	</tr>
</table>
<div class = 'pyg' id="output_{{ entityClass }}" style="margin: 10px;"></div>
