<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% autoescape true %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Mostrar {{ entityClass }}s</title>
		<link rel="stylesheet" href="../static/js/lib/gridx/resources/claro/Gridx.css" />
		<link rel="stylesheet" href="../static/css/grid.css" />
		<script>saludable.entityClass = '{{ entityClass }}';</script>
		<script src="../static/js/my/showEntities.js" ></script>
	</head>
	<body class="claro">
		<button id='exportarDatos_{{ entityClass }}' data-dojo-type="dijit/form/Button">Exportar Registros</button>
		<div id="gridNode_{{ entityClass }}"></div>
	</body>
</html>
{% endautoescape %}