<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% autoescape true %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Mostrar {{ entity_class }}s</title>
		<link rel="stylesheet" href="../static/js/lib/dijit/themes/claro/claro.css" media="screen">
		<link rel="stylesheet" href="../static/js/lib/gridx/resources/claro/Gridx.css" />
		<link rel="stylesheet" href="../static/css/grid.css" />
		<script src="../static/js/lib/dojo/dojo.js" data-dojo-config="async: true"></script>
		<script>saludable.entity_class = '{{ entity_class }}';</script>
		<script src="../static/js/my/showEntities.js" ></script>
	</head>
	<body class="claro">
		<div id="gridNode{{ entity_class }}" style="width: 25%; height: 300px;"></div>
	</body>
</html>
{% endautoescape %}