<head>
    <title>Tabla Dinamica</title>
    <link rel="stylesheet" type="text/css" href="../static/js/lib/pivot/pivot.css">
    <script type="text/javascript" src="../static/js/lib/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/pivot/pivot.js"></script>
    <script type="text/javascript" src="../static/js/lib/pivot/pivot.es.js"></script>
    <script>saludable.entity_class = '{{ entity_class }}';</script>
    <script type="text/javascript" src="../static/js/my/tablaDinamica.js"></script>
</head>
<style>
    .pivot {font-family: Verdana;}
</style>
<table>
	<tr>
		<td>
			<label for='fecha_pivot_1'>Desde: </label>
			<input type="text" name='fecha_pivot_1_{{ entity_class }}' id='fecha_pivot_1_{{ entity_class }}' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<label for='fecha_pivot_2'>Hasta: </label>
			<input type="text" name='fecha_pivot_2_{{ entity_class }}' id='fecha_pivot_2_{{ entity_class }}' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<button id='GenerarInformeBtn_{{entity_class}}' data-dojo-type="dijit/form/Button">Generar Informe</button>
		</td>
		<td>
			<button id='copiarTabla_{{entity_class}}' data-dojo-type="dijit/form/Button">Copiar al Portapapeles</button>
		</td>
	</tr>
</table>
<div id='pivot_standby' style="width: 100%;height: 100%">
<div class = 'pivot' id="output_{{ entity_class }}" style="margin: 10px;"></div>
</div>