<!DOCTYPE html>
<html>
    <head>
        <title>Tabla Dinamica</title>
        <link rel="stylesheet" type="text/css" href="../static/js/lib/pivot/pivot.css">
        <script type="text/javascript" src="../static/js/lib/jquery/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="../static/js/lib/jquery/jquery-ui-1.9.2.custom.min.js"></script>
        <script type="text/javascript" src="../static/js/lib/pivot/pivot.js"></script>
        <script type="text/javascript" src="../static/js/lib/pivot/pivot.es.js"></script>
        <script type="text/javascript" src="../static/js/my/tablaDinamica.js"></script>
    </head>
    <style>
        * {font-family: Verdana;}
    </style>
    <body>
        <div id="output" style="margin: 10px;"></div>
    </body>
</html>
