<!DOCTYPE html>
<html >
<head>
	<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.2/dijit/themes/tundra/tundra.css"> 
	<link rel="stylesheet" href="../static/css/home.css" media="screen">
	<script>
			dojoConfig = {
			async: 1,
			parseOnLoad: 1,
			dojoBlankHtmlUrl: '/blank.html',
			packages: [
			{name: 'gridx', location: location.pathname.replace(/\/[^/]+$/, '') + '/static/js/lib/gridx'}
			]};
		</script>
	<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.2/dojo/dojo.js"></script>
	<script>
		require(["dojo/parser", "dijit/layout/TabContainer", "dijit/layout/ContentPane", 'dojox/layout/ContentPane']);
	</script>
	<script>
			saludable = {
			'entity_class' : '{{ entity_class }}'
			};
	</script>
</head>
	<body class="tundra">
		<div id='homeTabContainer' data-dojo-type="dijit/layout/TabContainer" data-dojo-props="tabPosition: 'bottom'">
			<div data-dojo-type="dojox/layout/ContentPane" id='Cliente_show' title="CLIENTES" data-dojo-props="href: '/showEntities?entityClass=Cliente', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Fruta_show' title="PULPAS" data-dojo-props="href: '/showEntities?entityClass=Fruta', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Porcion_show' title="PORCIONES" data-dojo-props="href: '/showEntities?entityClass=Porcion', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Precio_show' title="PRECIOS" data-dojo-props="href: '/showEntities?entityClass=Precio', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Cliente_add' title="AGREGAR CLIENTES" data-dojo-props="href: '/addEntity?entityClass=Cliente', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Fruta_add' title="AGREGAR PULPAS" data-dojo-props="href: '/addEntity?entityClass=Fruta', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Porcion_add' title="AGREGAR PORCIONES" data-dojo-props="href: '/addEntity?entityClass=Porcion', executeScripts: true"></div>
			<div data-dojo-type="dojox/layout/ContentPane" id='Precio_add' title="AGREGAR PRECIOS" data-dojo-props="href: '/addEntity?entityClass=Precio', executeScripts: true"></div>
		</div>
	</body>
</html>