<head>
	<link rel="stylesheet" href="../static/libs/gridx/resources/claro/Gridx.css" />
	<link rel="stylesheet" href="../static/my/css/grid.css" />
	<link rel="stylesheet" type="text/css" href="../static/libs/pivot/pivot.css">
	<script type="text/javascript" src="../static/my/js/balance.js"></script>
	<script type="text/javascript" src="../static/libs/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/libs/jquery/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="../static/libs/pivot/pivot.js"></script>
    <script type="text/javascript" src="../static/libs/pivot/pivot.es.js"></script>
	<style>
	    .pivot {font-family: Verdana;}
	    .hide {display: none}
	</style>
</head>
<table>
	<tr>
		<td>
			<label for='fecha_pivot_1'>Desde: </label>
			<input type="text" name='fecha_pivot_1_balance' id='fecha_pivot_1_balance' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<label for='fecha_pivot_2'>Hasta: </label>
			<input type="text" name='fecha_pivot_2_balance' id='fecha_pivot_2_balance' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<button id='GenerarInformeBtn_balance' data-dojo-type="dijit/form/Button">Generar Informe</button>
		</td>
		<td>
			<button id='copiarTabla_balance' data-dojo-type="dijit/form/Button">Copiar al Portapapeles</button>
		</td>
	</tr>
	<tr>
	
	</tr>
</table>
<div id='widget_balance' title="balance" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:'true', isLayoutContainer:'true',useMenu:'false', tabPosition: 'bottom'" style="height: 95%; width: 100%;" }>
	<div data-dojo-type="dojox/layout/ContentPane" id='balance_resumen' title="Resumen" 
	style="" >
		<div id='balance_resumen_grid'></div>
		<div class = 'pivot' id="pivot_balance" style="margin: 10px;display:none"></div>	
	</div>
</div>