<div id='widget{{entityClass}}' title="{{entityClass}}" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:'true', isLayoutContainer:'true',useMenu:'false', tabPosition: 'bottom'">
	<div data-dojo-type="dojox/layout/ContentPane" id='{{entityClass}}_add' title="Crear {{entityClass}}"  
		data-dojo-props="href: '/dojoxLoader?entityClass={{entityClass}}&template=crear{{entityClass}}', executeScripts: true" ></div>
	<div data-dojo-type="dojox/layout/ContentPane" id='{{entityClass}}_show' title="Mostrar {{entityClass}}s" style="overflow: hidden !important;" 
		data-dojo-props="href: '/showEntities?entityClass={{entityClass}}', executeScripts: true" ></div>
</div>
