<head>
	<link rel="stylesheet" type="text/css" href="../static/libs/pivot/pivot.css">
    <script type="text/javascript" src="../static/libs/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/libs/jquery/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="../static/libs/pivot/pivot.js"></script>
    <script type="text/javascript" src="../static/libs/pivot/pivot.es.js"></script>    
	<script type="text/javascript" src="../static/my/js/existencias.js"></script>
</head>
<div id='existencias_Pivot'></div>	
