<head>
    <title>Utilidades</title>
    <script type="text/javascript" src="../static/my/js/utilidades.js"></script>
</head>
<style>
    .pivot {font-family: Verdana;}
    #utilidades_ventas {text-align: right}
    #utilidades_costos_variables {text-align: right}
    #utilidades_utilidad_bruta {text-align: right}
    #utilidades_margen_bruto {text-align: right}
    #utilidades_costos_fijos {text-align: right}
    #utilidades_utilidad_neta {text-align: right}
    #utilidades_margen_neto {text-align: right}
</style>
<table>
	<tr>
		<td>
			<label for='fecha_pivot_1'>Desde: </label>
			<input type="text" name='fecha_pivot_1_{{ entityClass }}' id='fecha_pivot_1_{{ entityClass }}' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<label for='fecha_pivot_2'>Hasta: </label>
			<input type="text" name='fecha_pivot_2_{{ entityClass }}' id='fecha_pivot_2_{{ entityClass }}' value="now" data-dojo-type="dijit/form/DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" required="true" style="width:100px;" />
		</td>
		<td>
			<button id='GenerarInformeBtn_{{entityClass}}' data-dojo-type="dijit/form/Button">Generar Informe</button>
		</td>
		<td>
			<button id='copiarTabla_{{entityClass}}' data-dojo-type="dijit/form/Button">Copiar al Portapapeles</button>
		</td>
	</tr>
</table>
<br/>
<div id='utilidades_standby' style="width: 100%;height: 100%">
	<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1, labelWidth:150" id="utilidad_table">
	  <div data-dojo-type="dijit.form.TextBox" id= 'utilidades_ventas' style ='width:10em' title="Ventas:" value=""></div>
	  <div data-dojo-type="dijit.form.TextBox" id= 'utilidades_costos_variables' style ='width:10em'  title="Costos Variables:" value=""></div>
	  <div data-dojo-type="dijit.form.TextBox" id= 'utilidades_utilidad_bruta' style ='width:10em'  title="Utilidad Bruta:" value=""></div>
	  <div data-dojo-type="dijit.form.TextBox" id= 'utilidades_margen_bruto' style ='width:10em'  title="Margen Bruto:" value=""></div>
	  <div data-dojo-type="dijit.form.TextBox" id= 'utilidades_costos_fijos' style ='width:10em'  title="Costos Fijos:" value=""></div>
	  <div data-dojo-type="dijit.form.TextBox" id= 'utilidades_utilidad_neta' style ='width:10em'  title="Utilidad Neta" value=""></div>
	  <div data-dojo-type="dijit.form.TextBox" id= 'utilidades_margen_neto' style ='width:10em'  title="Margen Neto" value=""></div>
	</div>
</div>
